<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="GörselProgramlamaProje.Properties.Settings.stokConnectionString"
            connectionString="server=localhost;user id=root;password=abdu1905FC.;database=stok"
            providerName="MySql.Data.MySqlClient" />
        <add name="GörselProgramlamaProje.Properties.Settings.stok_proje"
            connectionString="server=localhost;user id=root;password=abdu1905FC.;persistsecurityinfo=True;database=stok"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>